@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Hammersmith+One&display=swap');
@import url('https://db.onlinewebfonts.com/c/0852d031fbfa0061d0f826a4d2750e05?family=Sonorous'); 
* {
  margin: 0px;
  padding: 0px;
}
.container {
  height: 100vh;
  padding: 10px;
  background-color:#ADEFD1FF;
}
.logo-container {
  display: flex;
  align-items: center;
}
nav {
  padding: 10px;
}
.logo {
  color: #00203FFF;
  font-size: 20px;
  margin-right: 10px;
}
.text-logo {
  color: #00203FFF;
  font-family: "Sonorous";
  /* font-family: 'Hammersmith One', sans-serif; */
  font-size: 15px;
  font-weight: 10;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todos-container {
  border: 2px solid #00203FFF;
  margin-top: 50px;
  padding: 10px;
  overflow: auto;
  height: 500px;
}
ul {
  list-style: none;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
@media screen and (min-width: 600px) {
  .logo {
    font-size: 34px;
  }
  .text-logo {
    font-size: 18px;
  }
  .todos-container {
    width: 600px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  li {
    width: 340px;
  }
}
