@import url('https://db.onlinewebfonts.com/c/0852d031fbfa0061d0f826a4d2750e05?family=Sonorous');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=DM+Sans:opsz,wght@9..40,300&family=Hammersmith+One&family=Montserrat&display=swap');

.main-heading {
  background-color: #00203fff;
  color: #adefd1ff;
  max-width: 400px;
  border-radius: 5px;
  padding: 10px 50px;
  font-family: 'Sonorous';
  font-size: 20px;
  text-align: center;
  margin: 60px 0px;
  font-weight: 10;
}
.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-input {
  width: 50%;
  background-color: transparent;
  min-width: 100px;
  border-radius: 5px;
  margin-right: 10px;
  border: 2px solid #00203fff;
  outline: none;
  color: #00203fff;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.plus-icon {
  margin-right: 5px;
}
.reset-icon {
  margin-right: 5px;
}

.input-btn {
  background-color: #00203fff;
  color: #adefd1ff;
  border-width: 0px;
  border-radius: 5px;
  border: 1px solid #00203fff;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-size: 12px;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.input-btn:hover {
  background-color: #adefd1ff;
  color: #00203fff;

  cursor: pointer;
}
input::placeholder {
  color: #00203fff;
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
}
.add-todo-container {
  display: flex;
  border-radius: 5px;
  border: 2px solid #00203fff;
  padding: 20px;
  max-width: 700px;
}
@media screen and (min-width: 600px) {
  .add-todo-container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-btn {
    padding: 10px;
    font-size: 14px;
  }
  .user-input {
    font-size: 15px;
  }
  .main-heading {
    margin: 40px;
    font-size: 25px;
  }
}
